<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cci.salesdrive" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Salesdrive</name>
    <description>
        Salesdrive Demo Application.
    </description>
    <author email="fpe@ciklum.com" href="http://cc-interactive.com">
        Fedir Petrukhin
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />-->
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

    <gap:config-file platform="android" parent="/manifest">
        <application android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"></application>
    </gap:config-file>
    
    <plugin name="com.cci.bizcard.plugin" spec="1.0.0" source="pgb" />
    
    <feature name="DatePickerPlugin">
        <param name="android-package" value="com.plugin.datepicker.DatePickerPlugin"/>
    </feature>
    <feature name="DatePicker">
        <param name="ios-package" value="DatePicker"/>
    </feature>

    <!--<gap:plugin name="org.apache.cordova.vibration" />-->
    <icon src="icon.png" />

    <access origin="*" />
</widget>
